<!DOCTYPE html>
<html>
<head>
    ...
</head>
<body>
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav">
            <a href="#" class="nav-item nav-link active">Home</a>
            <a href="#" class="nav-item nav-link">Profile</a>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Manage Employee</a>
                <div class="dropdown-menu">
                    <a href="@{/employees}" class="dropdown-item">View Employees</a>
                    <a href="#" class="dropdown-item">Add Employee</a>
                    <a href="#" class="dropdown-item">Delete Employee</a>
                </div>
            </div>
        </div>
    </div>
</nav>
</body>
</html>